@use './colors' as *;
@use './typography' as *;
@use './responsive' as *;

:root {
  --preview-card-border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.preview {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  &__card {
    flex-basis: 80%;
    background: var(--color-primary-dark);
    border-radius: var(--preview-card-border-radius);
    overflow: hidden;

    @include media("tablet") {
      flex-basis: 40%;
    }

    @include media("desktop", ">=") {
      display: flex;
      flex-direction: row-reverse;
    }

    @include media("desktop") {
      flex-basis: 70%;
    }

    @include media("desktop-large") {
      flex-basis: 53%;
    }



    &__header {
      display: block;
      position: relative;
      img {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(var(--color-primary-preview), var(--color-primary-preview));
        @include media("tablet", "<=") {
          border-top-left-radius: var(--preview-card-border-radius);
          border-top-right-radius: var(--preview-card-border-radius);
        }
      }
    }

    &__content {
      padding: 2rem;
      text-align: center;
      @include media("desktop", ">=") {
        text-align: start;
        padding: 2.5rem;
      }
      &__title {
        &__highlight {
          color: var(--color-primary-preview-dark);
        }
      }

      &__main {
        padding: 0 1rem;
        @include media("desktop", ">=") {
          padding-left: 0;
          padding-right: 3rem;
        }
        &__description {
          @extend .text-sm;
          margin-top: 1rem;
          margin-bottom: 2rem;
          line-height: 1.50rem;
        }

        &__stats {
          @include media("desktop", ">=") {
            display: flex;
            justify-content: space-between;
          }
          &__info {
            display: block;
            &__type {
              @extend .text-xs;
              text-transform: uppercase;
              color: hsla(0, 0%, 100%, 0.75);
              letter-spacing: 0.0725rem;
            }
            & + & {
              @include media("tablet", "<=") {
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
